.react-datepicker {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
}
.react-datepicker__header {
  background-color: rgb(250, 250, 255) !important;
}
.date-picker-calendar {
  color: red !important;
}
.date-picker-month {
}
.example-custom-input {
  background: url('../../../../public/svg/calendar.svg') no-repeat right !important;
  background-size: 20px !important;
  width: 8.6em !important;
  font-size: 0.9rem !important;
  cursor: pointer !important;
  padding: 2px;
  box-shadow: 2px 2px 8px rgb(230, 230, 230) !important;
}
.react-datepicker__navigation-icon::before {
  border-color: rgb(50, 50, 50) !important;
}
.example-custom-input:focus-visible {
  border-bottom-color: #4299e1 !important;
  outline: none !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: inherit !important;
  color: black !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #4299e1;
  border-radius: 50%;
  margin: 0.066rem;
}
.react-datepicker__day:hover {
  background-color: inherit;
  outline: 2px solid #4299e1;
  border-radius: 50%;
  color: black;
}
.react-datepicker__navigation-icon {
  color: black !important;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #4299e1 !important;
  border-radius: 50%;
  color: white;
  outline: none !important;
}
*/ .react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50%;
}

.example-datepicker-class .react-datepicker__today-button {
  color: #4299e1;
  background-color: white;
  text-align: right;
  width: fit-content;
  margin: 0 20px 8px;
  margin-right: 20px;
  padding: 2px 4px;
  border-radius: 4px;
  border-top: none;
  float: right;
  transition-duration: 180ms;
}

.example-datepicker-class .react-datepicker__today-button:hover {
  background-color: #4299e11f;
}
